body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

h1 {
  font-size: 21px;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 16px;
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0 auto;
}

table#header {
  width: 100%;
  border-bottom: solid white;
  border-collapse: collapse;
}

td#home_logo {
  width: 159px;
  padding: 20px;
  background-color: #3a7137;
}

td#navbar {
  width: 860px;
  background-color: #dd2d32;
  font-size: 21px;
  font-weight: bold;
}

#logo {
  vertical-align: middle;
  float: left;
}

.navbar {
  overflow: hidden;
  padding-left: 100px;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div#photos {
  position: relative;
  width: 100%;
}

#home_photo {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

#menu_photo,
#store_photo {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: 10px;
}

div#welcome {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

p#welcome {
  text-align: center;
  vertical-align: middle;
  font-family: "Lucida Handwriting";
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

#paragraph {
  padding: 10px;
}

table#store {
  border-spacing: 0 50px;
  margin-top: -30px;
}

form {
  display: block;
  margin-top: 0em;
}

input.simple {
  display: block;
  margin: 10px;
}

textarea {
  display: block;
  height: 300px;
  width: 600px;
  margin: 10px;
}

select {
  margin: 10px;
}

footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
}
